.scoreboard{
    background-color: #f2f2f2;
    z-index: 10;
    border-color: #111;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

table{
    border-collapse: collapse;
    color: #59bbd9;
    font-family: monospace;
    font-size: 20px;
    width: 400px;
}
th{
    background-color: #1e4291;
    color: white;
    text-align: center;
    padding: 7px;       
}
tr:nth-child(even){
    background-color: #acacac;
}
td{
    font-size: 18px;
    padding: 5px;
    text-align: center;
    color: black;
}

a{
    display: inline-block;
    font-size: 1.4em;
    font-weight: 800;
    background: rgb(23, 24, 104);
    padding: 5px;
    text-decoration: none;
    font-weight: 700;
    margin: auto;
    color: rgb(255, 255, 255);
    border-radius: 6px;
}

a:hover{
    color: rgb(0, 0, 0);
    background: rgb(14, 149, 211);
}


.search-container
{
    z-index: 10;
    position: absolute;
    top: 100px;
    margin-left: 20%;
    margin-right: 10%;
}

.search-container input[type=text]
{
    width: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.search-container input[type=submit]
{
    font-weight: 700;
    width: 100px;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: rgb(255, 51, 51);
    border-radius: 3px;
}

/***************************************************/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


section
{
    /* position: relative; */
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: #111; */
    transition: 0.5s;
}

section video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 25%;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 80%;
    background: linear-gradient(to left, rgb(167, 167, 167), rgb(255, 255, 255));
    mix-blend-mode: overlay;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 80%;
    text-align: center;
    padding-top: 20px;
  }

.footer p
{
    color: rgb(112, 112, 112);
}

.banner img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
    z-index: 1;
    opacity: 50%;
}