*
{
    margin: 0;
    box-sizing: border-box;
}

.login-header {
    top: 0;
    position: absolute;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #1e2a28;   
    left: 0;
	width: 100%;
    z-index: 10;
    padding: 15px;
}

a:link, a:visited{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.banner
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111;
    transition: 0.5s;

}

.banner img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    object-fit: cover;
    z-index: 1;
    opacity: 50%;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(167, 167, 167), rgb(255, 255, 255));
}




.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 80%;
    text-align: center;
    padding-top: 20px;
  }

.footer a
{
    color: black;
}

/****************************************************/

.vertical-menu {
    top: 0;
    width: 150px;
    z-index: 100;
    right: 0;
    position: absolute;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 8px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
  }

  /******************************************************/


  .hint-banner
{
    margin-top: -280px;
    background-color: rgb(48, 48, 48);
    opacity: 80%;
    width: 65%;
    z-index: 1;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    margin-left: 10%;
    
}

h2
{
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    z-index: 100;
}

#instruction
{
    padding: 5px;
}

#instruction p
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    z-index: 100;
    padding: 10px;
}

.container{
    position: absolute;
    margin-left: 23%;
    margin-right: 25%;
    border-radius: 6px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    width: 40%;
    z-index: 10;
    margin-top: 200px;
}

.flag h3
{
    background-color: #111;
    color: #fff;
    padding: 10px;
    margin-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;  
    width: 80%;
}


input[type=text]{
    width: 60%;
    padding: 10px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    opacity: 0.9;
}

/*************************/

.error-msg {
	padding-top: 10px;
	color: #D8000C;
	text-align: center;
}

.success-msg {
    padding-top: 10px;
	color: #176701;
	text-align: center;
}

.container .error {
	color: #ee0000;
	padding: 0px;
	background: none;
	border: #ee0000;
}

.container .error-field {
	border: 1px solid #d96557;
}

.container .error:before {
	content: '';
	padding: 0 3px;
	color: #D8000C;
}



/*****************************************************/

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 4px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    right: 0;
    opacity: 70%;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    z-index: 100;
    right: 0;
    top: 0;
    position: absolute;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: rgb(216, 231, 217);
  }