/* version 3.0 table added */
.phppot-container {
	-webkit-font-smoothing: antialiased;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: .9em;
	color: #1e2a28;
	width: 740px;
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
	z-index: 10;
}

.phppot-container table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 30px;
}

.phppot-container td, .phppot-container th {
	text-align: left;
	padding: 8px;
}

.phppot-container h1 {
	font-weight: normal;
}

input[type=text].phppot-input, .phppot-container input,
	.phppot-container textarea, .phppot-container select, .phppot-input,
	.phppot-select {
	box-sizing: border-box;
	width: 200px;
	height: initial;
	padding: 8px 5px;
	border: 1px solid #9a9a9a;
	border-radius: 3px;
}

.phppot-container input[type="checkbox"] {
	width: auto;
	vertical-align: text-bottom;
	display: initial;
	opacity: initial;
	position: inherit;
	pointer-events: initial;
}

.phppot-container textarea, .phppot-textarea {
	width: 300px;
}

.phppot-container select, .phppot-select {
	display: initial;
	height: 30px;
	background-color: #fff;
	padding: 2px 5px;
}

.phppot-container button, .phppot-container input[type=submit] {
	padding: 8px 0px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 3px;
	color: #000000;
	font-weight: bold;
	background-color: #1bff1b;
	border-color: #000000;
}

.phppot-container button, .phppot-container input[type=submit]:hover {
	opacity: 80%;
}

.phppot-container button:focus {
	outline: none;
}

.phppot-container .phppot-row {
	padding-top: 15px;
}

#phppot-message {
	padding: 6px 20px;
	font-size: 1em;
	color: rgb(40, 40, 40);
	box-sizing: border-box;
	margin: 0px;
	border-radius: 3px;
	width: 100%;
	overflow: auto;
}

.phppot-container .error {
	padding: 6px 20px;
	border-radius: 3px;
	background-color: #fb817c;
	border: 1px solid #e46b66;
}

.phppot-container .success {
	background-color: #48e0a4;
	border: #40cc94 1px solid;
}

#phppot-loader-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#phppot-loader-ack-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#phppot-btn-send:hover {
	background: #1363cc;
	border: #105bbd 1px solid;
}

.phppot-container .validation-message {
	color: #e20900;
	display: inline-block;
}

.phppot-container .label {
	margin-bottom: 3px;
}

.phppot-form, .phppot-section {
	border: #eaeaea 1px solid;
	padding: 10px 25px 10px 30px;
	border-radius: 3px;
}

.phppot-container .display-none {
	display: none;
}

.icon-add-more-attachemnt {
	cursor: pointer;
	font-style: italic;
	font-size: .9em;
}

.inline-block {
	display: inline-block;
}

@media all and (max-width: 780px) {
	.phppot-container {
		width: auto;
	}
}

@media all and (max-width: 400px) {
	.phppot-container {
		padding: 0px 20px;
	}
	.phppot-container h1 {
		font-size: 1.2em;
	}
	.phppot-container input, .phppot-container textarea, .phppot-container select
		{
		width: 100%;
	}
	.phppot-form {
		border: none;
		padding: 0;
	}
}


/**************************************************************/


.login-container {
	border: 3px solid;
	border-color: #f5f5f5;
	color: aliceblue;
	border-radius: 5px;
	padding: 10px;
	width: 350px;
	margin: 50px auto;
}

.sign-up-container {
	border: 3px solid;
	border-color: #f5f5f5;
/*	background-color: #fff;   */
/*	color: rgb(0, 0, 0);	*/
	color: aliceblue;
	border-radius: 5px;
	padding: 10px;
	width: 350px;
	margin: 50px auto;
}

.page-header {
	float: right;
}

.login-signup {
	margin: 10px;
	text-decoration: none;
	float: right;
}

.login-signup a {
	text-decoration: none;
	color: white;
	font-weight: 700;
}

.signup-heading {
	font-size: 2em;
	font-weight: bold;
	padding-top: 60px;
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.row {
	margin: 15px 0px;
	text-align: center;
}

.form-label {
	margin-bottom: 5px;
	text-align: left;
}

input.input-box-330 {
	width: 250px;
}

.sign-up-container .error {
	color: #ee0000;
	padding: 0px;
	background: none;
	border: #ee0000;
}

.sign-up-container .error-field {
	border: 1px solid #d96557;
}

.sign-up-container .error:before {
	content: '*';
	padding: 0 3px;
	color: #D8000C;
}


/**************/
.login-container .error {
	color: #ee0000;
	padding: 0px;
	background: none;
	border: #ee0000;
}

.login-container .error-field {
	border: 1px solid #d96557;
}

.login-container .error:before {
	content: '*';
	padding: 0 3px;
	color: #D8000C;
}


.error-msg {
	padding-top: 10px;
	color: #D8000C;
	text-align: center;
}

.success-msg {
    padding-top: 10px;
	color: #176701;
	text-align: center;
}

input.btn {
	width: 130px
}

.signup-align {
	margin: 0 auto;
}

.page-content {
	font-weight: bold;
	padding-top: 60px;
	text-align: center;
}

/************************************************************/

@import url('htpps://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111;
    transition: 0.5s;
}

section video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 25%;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 80%;
    background: linear-gradient(to left, #00f, #f00);
    mix-blend-mode: overlay;
}

.text
{
    position: relative;
    z-index: 10;
}

.text h2
{
    font-size: 6em;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.text h3
{
    font-size: 2em;
    font-weight: 700;
    color: #fff;

    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.text p
{
    position: relative;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}

.text a
{
    display: inline-block;
    font-size: 1.4em;
    font-weight: 800;
    background: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    margin: 10px;
    color: #111;
    letter-spacing: 1px;
    border-radius: 6px;
}

a:hover{
    color: rgb(0, 0, 0);
    background: rgb(252, 206, 0);
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 80%;
    text-align: center;
    padding-top: 20px;
  }

.footer p
{
    color: rgb(112, 112, 112);
}
